<div class="gameItem">
    <img class="gameImage" src="<%= gameImage %>" alt="Icon for <%= gameName %>">
    <div class="seperator">
        <a class="gameTitle" href="<%= gameLink %>"> <%= gameName %> </a>
        <p class="gameTag"> Multiplayer </p>
    </div>
</div>