<nav>
    <!-- TODO: Figure out how to use Vector here instead of PNG -->
    <!-- <img
      id="logo"
      alt="What Can We Play Today Logo"
      src="/img/VecLogo.svg"
    /> -->
    <a href="/">
        <img
        id="logo"
        alt="What Can We Play Today Logo"
        src="/img/StandardImgLogo.png"
        />
    </a>
    <!-- TODO: Eventually create reset feature with Logo -->
</nav>