<nav>
    <div id="backItem">
        <a href="<%= linkToPage %>">
            <img id="backButton" src="/img/backButton.png" alt="back button"/>
        </a>
    </div>
    <!-- TODO: Figure out how to use Vector here instead of PNG -->
    <!-- <img
      id="logo"
      alt="What Can We Play Today Logo"
      src="/img/VecLogo.svg"
    /> -->
    
    <!-- TODO: Eventually create reset feature with Logo. Right now goes there immediately. -->
    <div id="logoItem">
        <a href="/">
            <img
            id="logo"
            alt="What Can We Play Today Logo"
            src="/img/StandardImgLogo.png"
            />
        </a>
    </div>
</nav>