<%- include('partials/header.ejs', {title: `What Can We Play Today?`, stylesheet: `generalStyles.css`}) %>
<%- include('partials/navbarBack.ejs', {linkToPage: `/`}) %>

<div class="gradient-background">
    <div class="background-box">
        <h1 style="text-decoration: underline;">
            ALTERNATE LOGIN
        </h1>
        <br>
        <p id="altPageHelp"> Enter your Steam User ID or ID Code Here </p>
        <!-- TODO: Have a guide on how to find it. -->
        <p id="altPageGuide"> <a href=""> Click Here </a> for a guide on how to find it. </p>
        <!-- TODO: Have some disclaimer and a link to other pages on relevant information -->
        <br>
        <form method="post" action="/alt-login">
            <br>
            <input type="text" id="userId" name="userId">
            <br>
            <button type="submit"> ALT LOGIN </button>
        </form>
    </div>
</div>