<%- include('partials/header.ejs', {title: `What Can We Play Today?`, stylesheet: `homePage.css`}) %> 

<div class="gradient-background" id="homePageGradient">
    <div class="background-box">

        <img id="logoHome" alt="What Can We Play Today Logo" src="/img/StandardImgLogo.png"/>
        <br>
        <p style="color: white;"> <p>By using our site, you acknowledge that you have read and understand our <a href="/privacy-policy">PRIVACY POLICY</a></p>
        <br>
        
    </div>
    <div id="main-page-buttons">
            <button id = "loginModal">STEAM LOGIN</button>
            <p style="color: white; font-size: larger; margin-top: 1rem;"> OR </p>
            <button id = "loginModal2">ALT LOGIN</button>
            <div id = "modal" class = "modal">
                <div class = "modal-content">
                        <div class="background-box-pp">
                            <div id="modalTopArea">
                                <h2> Disclaimer: Privacy Settings for Steam Users </h2>
                                <span id="back"> &times; </span>
                            </div>

                    <p>In order for "What Can We Play Today" to function properly, your Steam profile and game details need to be set to public. Here's how you can change these settings:</p>
        
                    <ol>
                        <li><strong>Access the Dropdown Menu</strong>: Click on your username in the upper right-hand corner of the Steam interface to display the dropdown menu.</li>
                        <li><strong>View Profile</strong>: From the dropdown menu, select "View Profile".</li>
                        <li><strong>Edit Profile</strong>: On your profile page, select "Edit Profile".</li>
                        <li><strong>Privacy Settings</strong>: In the Edit Profile interface, navigate to the panel on the left-hand side and select "Privacy Settings".</li>
                        <li><strong>Set to Public</strong>: In the Privacy Settings, ensure that your profile status and game details are set to "Public".</li>
                    </ol>
        
                    <p>Please refer to the video below if additional guidance is needed. </p>
        
                    <div class = "video-content">
                    <video width = "480" height = "240" controls>
                        <source src = "/img/privSettings.mp4" type = "video/mp4">
                    </video>
                    </div>

                    <br>
                    <span id = "close"> I UNDERSTAND </span>
                </div>
                </div>
             </div>

             <div id = "modal2" class = "modal">
                <div class = "modal-content">
                    <div class="background-box-pp">
                    <span id = "back2"> &times; </span>
                    <h2>Disclaimer: Privacy Settings for Steam Users</h2>

                    <p>In order for "What Can We Play Today" to function properly, your Steam profile and game details need to be set to public. Here's how you can change these settings:</p>
        
                    <ol>
                        <li><strong>Access the Dropdown Menu</strong>: Click on your username in the upper right-hand corner of the Steam interface to display the dropdown menu.</li>
                        <li><strong>View Profile</strong>: From the dropdown menu, select "View Profile".</li>
                        <li><strong>Edit Profile</strong>: On your profile page, select "Edit Profile".</li>
                        <li><strong>Privacy Settings</strong>: In the Edit Profile interface, navigate to the panel on the left-hand side and select "Privacy Settings".</li>
                        <li><strong>Set to Public</strong>: In the Privacy Settings, ensure that your profile status and game details are set to "Public".</li>
                    </ol>
        
                    <p>Please refer to the video below if additional guidance is needed.</p>
        
                    <!-- Add screenshot here -->
                    <div class = "video-content">
                    <video width = "480" height = "240" controls>
                        <source src = "/img/privSettings.mp4" type = "video/mp4">
                    </video>
                    <br>
                    </div>
                    <span id = "close2"> I UNDERSTAND </span>

                </div>
                </div>
             </div>
    </div>
</div>
<script>
    // Modal appears when steam login button is pressed
    let modalTrigger = document.getElementById('loginModal');
    var modal = document.getElementById("modal");
    modalTrigger.addEventListener('click', function(){
        modal.style.display = "flex";
    });

    // Accept button redirects to login through steam
    var acceptButton = document.getElementById("close");
    acceptButton.addEventListener('click', function() {
        window.location.href = "/auth/steam";
    });

    // Modal appears if user wants to use the ALT login
    let modalTrigger2 = document.getElementById('loginModal2');
    var modal2 = document.getElementById("modal2");
    modalTrigger2.addEventListener('click', function(){
        modal2.style.display = "flex";
    });

    // Accept button redirects user to login using steam id only
    var acceptButton2 = document.getElementById("close2");
    acceptButton2.addEventListener('click', function() {
        window.location.href = "/alt-login";
    });

    // Used to cancel modal
    let back = document.getElementById("back");
    back.addEventListener('click', function(){
        window.location.href = "/";
        modal.classList.remove("open");
    });

    // Used to cancel modal
    let back2 = document.getElementById("back2");
    back2.addEventListener('click', function(){
        window.location.href = "/";
    });

</script>