<%- include('partials/header.ejs', {title: `Privacy Policy`, stylesheet: `privacyStyles.css`}) %>
<%- include('partials/navbarBack.ejs', {linkToPage: `/`}) %>

<div class="gradient-background">
    <div class="background-box-pp">
        <head>
            <title>Privacy Policy</title>
        </head>
        <body>
            <h1>Privacy Policy for What Can We Play Today</h1>
        
            <p>This Privacy Policy describes how your personal information is collected, used, and shared when you use our website (the "Site"), a project developed for CSU Monterey Bay by Baytech.</p>
        
            <h2>PERSONAL INFORMATION WE COLLECT</h2>
        
            <p>When you log in via Steam, we collect your user ID and profile picture from your Steam account, as well as your list of games. We do not have access to your Steam password or any other personal information from your Steam account.</p>
        
            <h2>HOW DO WE USE YOUR PERSONAL INFORMATION?</h2>
        
            <p>We use the information that we collect to provide our services to you. Specifically, we use this information to:</p>
            <ul>
                <li>Allow you to log in via Steam</li>
                <li>Display your profile picture</li>
                <li>Manage your list of games</li>
            </ul>
        
            <h2>SHARING YOUR PERSONAL INFORMATION</h2>
        
            <p>We do not share your Personal Information with third parties.</p>
        
            <h2>DATA RETENTION</h2>
        
            <p>We will maintain your user ID, profile picture, and list of games for our records unless and until you ask us to delete this information.</p>
        
            <h2>CHANGES</h2>
        
            <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
        
            <h2>CONTACT US</h2>
        
            <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at [insert email address] or by mail using the details provided below:</p>
            <p>Baytech,<br>
            CSU Monterey Bay,<br>
            </p>
        
            <p>Please note that this is a basic privacy policy and may not cover all aspects of the application, as this is a school project</p>
        </body>
    </div>
</div>